* {
    -white: #f3f3f3;
    -black: #464444;
    -gray: #a8a8a8;
    -dark-sand: #986801;
}

.anchor-pane, .canvas {
    -fx-background-color: -gray;
}

.canvas {
    -fx-pref-height: 800px;
    -fx-pref-width: 800px;
}